<div style="max-width:350px; margin:0 auto;">
  <img src="/assets/img/logo.png" style="max-width:260px" class="mx-auto d-block logo">
  <form>
    <div class="form-group">

      <input class="form-control" placeholder="Tên Đăng Nhập" formControlName="username" required>
    </div>
    <div class="form-group">

      <input type="password" class="form-control" placeholder="Mật Khẩu" formControlName="password" required>
      <span></span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn  btn-block btn-success">Đăng Nhập</button>
      </div>
      <a href="javascript:;" routerLink="/dang-ki-khach-hang"> Bạn chưa có tài khoản ?</a>
    </div>
  </form>
</div>
